$copyright: "© きみづかふみたか";
$store-font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", sans-serif;
$app-font-family: "AvenirNext-Heavy";
$menu-header: "MENU";

$balloonColor: #bdbdbd;

$bgColor: #fff;
$btnMenuColor: #000;
$menuHeaderTxtColor: #bdbdbd;
$menuBorderColor: #bdbdbd;
$txtColor: #000;