#score {
  position: absolute;
  top: 25px; right: 25px;
  font-size: 2.5rem;
}

#banner {
  position: absolute;
  bottom: 60px; left: 20px;
}

#ball {
  position: absolute;
  left: 0; right: 50px;
  bottom: 35px;
  margin: 0 auto 0;
  width: 60px; height: 60px;
  background: url(../img/resource/ball.png) center center no-repeat;
  background-size: contain;
}

#kicker {
  position: absolute;
  bottom: 20px;
  left: 0; right: 0;
  margin: 0 auto 0;
  width: 280px; height: 260px;
  background: url(../img/resource/kicker.png) center top no-repeat;
  background-size: 280px 1040px;
  overflow: hidden;

  @for $i from 0 through 3 {
    &[data-index="#{$i}"] {
      background-position: center $i * -260px;
    }
  }
}